.chronikside {
    float: right;
    width: 50%;
    padding: 0 10px;
}

.chronik {
    width: 740px;
}

table.chronik {
    width: 100%;
border-collapse:separate; 
border-spacing: 0 8px;
}
table.chronik tr:hover {
    background-color: #5ead48;
    background: -webkit-linear-gradient(to bottom, #0e7500 0%,#018604 100%);
background: -o-linear-gradient(to bottom, #0e7500 0%,#018604 100%);
background: -moz-linear-gradient(to bottom, #0e7500 0%,#018604 100%);
background: linear-gradient(to bottom, #0e7500 0%,#018604 100%);
    margin-bottom: 5px;
}

table.chronik tr:hover td a {
    color: white !important;
}
table.chronik tr td a:hover {
    background: transparent;
}

table.chronik tr td {
    padding: 10px 6px;
    border-left: none;
    margin-bottom: 5px;
}
table.chronik tr td.datum {
    border-right: 2px solid #999;
}
table.chronik.umgesetzt tr td.datum {
    border-right: 2px solid #299a0b;
}
table.chronik.gebrochen tr td.datum {
    border-right: 2px solid red;
}
table.chronik tr:hover td.datum {
    border-right: 2px solid white;
}
table.chronik td a {
    display: block;
    color: black;
}


table.chronik td a {
    margin: -10px 0;
    padding: 10px 0;
}