.list h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.list h3 a {
    display: block;
    background: linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    color: white;
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

.list ul {
    padding-left: 10px;
    list-style-type: none;
    margin-top: 3px;
}
.list ul li {
    font-size: 1.2em;
    padding: 3px;
    margin-top: 3px;
    display: block;
    background-color: #eee;
    min-height: 26px;
    line-height: 20px;
}

.list ul li.desc {
    font-style: italic;
    margin-left: -10px;
}

.list ul li a {
    display: block;
    padding: 3px;
    margin: -3px;
    color: black;
}

.list ul li a:hover, .list ul li a:hover span {
    color: white !important;
}

.list ul li span {
    font-weight: bold;
    
}

.list .ampel {
    width: 60px;
    height: 20px;
    padding: 2px;
    border-radius: 10px;
    background-color: #eee;
    float: right;
    border: 1px solid gray;
    background: linear-gradient(to bottom, #eee 0%,#ccc 100%);
}
.list .ampel span {
    display: block;
    float: left;
    width: 14px;
    margin: 0 2px;
    height: 14px;
    border-radius: 7px;
    background-color: gray;
}
.list .ampel .green {
    background-color: #0f0;
}
.list .ampel .red {
    background-color: #f00;
}
.list .ampel .yellow {
    background-color: #dd0;
}
