body, html {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    font-size: 14px;
}

body {
    background-color: #eaeaea;
    background: -webkit-linear-gradient(to bottom, #eaeaea 0%,#fafafa 100%); background: -o-linear-gradient(to bottom, #eaeaea 0%,#fafafa 100%); background: -moz-linear-gradient(to bottom, #eaeaea 0%,#fafafa 100%); background: linear-gradient(to bottom, #eaeaea 0%,#fafafa 100%);
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em
}
h2 {
    font-size: 1.3em
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    background-color: #5ead48;
    background: -webkit-linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    background: -moz-linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    background: -o-linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    background: linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    color: white;
}

.main {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: auto;
    background-color: white;
   box-shadow:  0px 0px 30px 5px #999;
}

.header {
    padding: 20px;
    
    background-color: white;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 150px;
    position: relative;
    top: 0px;
}
.header h1 {
    font-size: 2.5em;
}
.header ul.menu {
    list-style-type: none;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    clear: both;
    margin-left: -20px;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #5ead48;
    background: -webkit-linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    background: -moz-linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    background: -o-linear-gradient(to bottom, #5ead48 0%,#299a0b 100%);
    background: linear-gradient(to bottom, #5ead48 0%,#299a0b 100%); /* W3C */
}

.header ul.menu li{
    display: block;
    padding: 0 6px;
    float: left;
    border-right: 1px solid white;
    margin-bottom: 1px;
}
.header ul.menu:before {
    content: " ";
    z-index: 15;
    position: absolute;
    bottom: 62px;
    left: 0px;
    width: 100%;
    height: 0px;
    border-top: 1px solid white;
}
.header ul.menu:after {
    content: " ";
    z-index: 15;
    position: absolute;
    bottom: 31px;
    left: 0px;
    width: 100%;
    height: 0px;
    border-top: 1px solid white;
}
.header ul.menu li a {
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 0 -6px;
    padding: 0 6px;
    color: white;
    background: transparent;
}

.header ul.menu li #active_main  {
    background-color: #006e2e;
    background: -moz-linear-gradient(to top, #006e2e 0%,#4da086 100%);
    background: -o-linear-gradient(to top, #006e2e 0%,#4da086 100%);
    background: -webkit-linear-gradient(to top, #006e2e 0%,#4da086 100%);
    background: linear-gradient(to top, #006e2e 0%,#4da086 100%);
}
.header ul.menu li a:hover {
    background-color: #006e2e;
    background: -moz-linear-gradient(to top, #006e2e 0%,#4da086 100%);
    background: -o-linear-gradient(to top, #006e2e 0%,#4da086 100%);
    background: -webkit-linear-gradient(to top, #006e2e 0%,#4da086 100%);
    background: linear-gradient(to top, #006e2e 0%,#4da086 100%);
}
.content {
    width: 100%;
    padding: 20px;
    overflow: auto;
}

.sidemenu {
    width: 300px;
    float: left;
    padding: 10px;
    background-color: #bfb;
    height: 100%;
}
.sidemenu ul.menu li #active_cat, .sidemenu ul.menu li #active_party, .sidemenu ul.menu li #active_pstg  {
    background-color: green;
    color: white;
}



.bordertable {
    border-collapse: collapse;
}
.bordertable td {
    border: 1px solid black;
    padding: 4px;
}

.footer {
    width: 100%;
    border-top: 5px solid black;
    margin: 0;
    padding: 10px;
    height: 40px;
    background-color: #5ead48;
}

h2 {
    color: #5ead48;
    color: black;
}

.gradient:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-o-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.meter {
    background-color: #1a1a1a;
	height: 25px;
	width: 100%;
	border-radius: 10px;
    background-color: #ddd;
    border: 1px solid gray;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0px 0px 8px 8px #aaa;
}

.meter span {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    animation: expand 1s 1;
}

.meter span.green {
float: left;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
background-color: #0f0;
background: -moz-linear-gradient(to bottom, #0f0 0%,#090 100%);
background: -o-linear-gradient(to bottom, #0f0 0%,#090 100%);
background: -webkit-linear-gradient(to bottom, #0f0 0%,#090 100%);
background: linear-gradient(to bottom, #0f0 0%,#090 100%);
}
.meter span.red {
float: right;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #f00;
background: -moz-linear-gradient(to bottom, #f00 0%,#900 100%);
background: -o-linear-gradient(to bottom, #f00 0%,#900 100%);
background: -webkit-linear-gradient(to bottom, #f00 0%,#900 100%);
background: linear-gradient(to bottom, #f00 0%,#900 100%);
}

@keyframes expand {
   0% { width: 0; }
}

.header .meter {
    position: absolute;    
    width: 500px !important;
    height: 40px !important;
    top: 45px;
    right: 20px;
    border-radius: 10px;
}
.header .meter span {
    animation: none;
}
.header .meter span.green {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.header .meter span.red {
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}


.ampel {
    width: 60px;
    height: 20px;
    padding: 2px;
    border-radius: 5px;
    background-color: #eee;
    float: right;
    border: 1px solid gray;
    margin-left: 5px;
    background-color: #eee;
    background: linear-gradient(to bottom, #eee 0%,#ddd 100%);
}
.ampel span {
    display: block;
    float: left;
    width: 14px;
    margin: 0 2px;
    height: 14px;
    border-radius: 7px;
    background-color: #c0c0c0;
}
.ampel .green {
    background-color: #0b0;
}
.ampel .red {
    background-color: #b00;
}
.ampel .yellow {
    background-color: #dd0;
}