body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}
body {
    background-color: #bfb;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
    color: green;
}
a:hover {
    background-color: green;
    color: white;
}

.main {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 0px solid black;
    padding: 0;
    overflow: auto;
    position: relative;
    left: 0px;
    top: 0px;
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: #fcfcfc;
   
}
.backg {
    position: fixed;
    width: 1100px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.header {
    padding: 20px;
    padding-bottom: 0;
    padding-top: 10px;
    border-bottom: 5px solid black;
    background-color: green;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 1100px;
    height: 150px;
    
    
}
.header h1 {
    margin-top: 0;
    color: white;
}
.header ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
    margin-left: -6px;
    margin-right: -6px;
    overflow: auto;
}
.header ul.menu li{
    display: block;
    padding: 6px;
    float: left;
}
.header ul.menu li a {
    display: block;
    margin: -6px;
    padding: 6px;
    background-color: white;
}
.header ul.menu li #active_main  {
    background-color: green;
    color: white;
}
.header ul.menu li a:hover {
    background-color: green;
}
.content {
    clear: both;
    width: 800px;
    padding: 20px;
    overflow: auto;
    position: relative;
    left: 0px;
    float:left;
}
.contentwide {
    width: 1000px;
}
.sidemenu {
    width: 300px;
    float: left;
    padding: 10px;
    background-color: #bfb;
    height: 100%;
}
.sidemenu ul.menu li #active_cat, .sidemenu ul.menu li #active_party, .sidemenu ul.menu li #active_pstg  {
    background-color: green;
    color: white;
}

h3.pledge {
    border: 1px solid black;
    padding: 4px;
    font-size: 1.1em;
}

.content .quote {
    border-left: 4px solid #ccc;
    padding-left: 10px;
}
.content .quote .source {
    display: block;
    font-size: 0.9em;
}
.content .quote .source:before {
    content: "(";
}
.content .quote .source:after {
    content: ")";
}
.content .quote .text:before {
    content: "»";
}
.content .quote .text:after {
    content: "«";
}
.content .currentstate {
    margin-top: 3px;
}
.content .currentstate:before {
    content: "Status: ";
    font-weight: bold;
}
tr .quote {
    display: none;
}
tr:target {
    background-color: #ddd;
}
tr:target .quote{
    display: block;
}

.bordertable {
    border-collapse: collapse;
}
.bordertable td {
    border: 1px solid black;
    padding: 4px;
}

.footer {
    width: 1100px;
    border-top: 5px solid black;
    position: fixed;
    bottom: 0px;
    margin: 0;
    padding: 10px;
    height: 40px;
    background-color: green;
}