.listside {
    float: right;
    width: 300px;
    padding: 0 10px;
}

.listside > div {
    background-color: #eee;
    padding: 10px;
    margin-top: 15px;
}

.listside ul.verlauf {
    list-style-type: none;
    padding-left: 0px;
}
.listside ul.verlauf li, .listside ul.verlauf li a {
    display: block;
    padding: 2px;
}

.listside h2 {
    margin-top: 0;
}

.list {
    float: left;
    width: 740px;
    margin-right: 20px;
}
