.singleside {
    float: right;
    width: 400px;
    padding: 0 10px;
}

.single {
    float: left;
    width: 640px;
    position: relative;
}

h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.pledge {
    margin-bottom: 25px;
}
.pledge .title {
    margin-bottom: 0;
    font-weight: bold;
    border-left: 10px solid;
    line-height: 20px;
    position: relative;
    top: 0px;
    overflow: auto;
    background-color: #5ead48;
    background: -moz-linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    background: -o-linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    background: -webkit-linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    background: linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    color: white;
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;

}
.pledge .title .party {
    float: right;
    font-size: 0.9em;
}
.pledge .title:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid black;
    height: 100%;
    width: 2x;
}

.pledge .more > div {
    background-color: #eee;
    margin-top: 3px;
    padding: 3px;
    padding-left: 10px;
}




.content .quote {
  //  padding: 3px;
  //  padding-left: 10px;
  //  margin: 3px;
  //  margin-left: 10px;
}

.quote .text {
    //margin-left: 15px;
   // border-left: 5px solid #ddd;
   font-style: italic;
}

.content .quote .source {
    display: block;
    font-size: 0.9em;
}
.content .quote .source a:before {
    content: "(";
}
.content .quote .source a:after {
    content: ")";
}
.content .quote .text:before {
    content: "»";
}
.content .quote .text:after {
    content: "«";
}
.content .currentstate {
    margin-top: 3px;
}
.content .currentstate:before {
    content: "Status: ";
    font-weight: bold;
}


@keyframes target1 {
    0% {background-color: transparent;  box-shadow: 0px 0px 0px 0px #ddd; }
    100% {background-color: #eee; box-shadow: 0px 0px 5px 5px #ddd; }
}

.chronik .state:target, .pledge:target  {
    //animation: target1 1s ease 1;
    //background-color: #eee;
    box-shadow: 0px 0px 5px 5px #dbdbdb;

}

.chronik .state {
    margin-bottom: 20px;
}
.chronik .state > div {
    background-color: #eee;
    margin-top: 3px;
    padding: 7px;
}
.chronik .state > .datum {
    background-color: #5ead48;
    background: -moz-linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    background: -o-linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    background: -webkit-linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    background: linear-gradient(to bottom, #339a01 0%,#17b500 100%);
    color: white;
}
.chronik .state > .text {
    font-weight: bold;
}